@charset "ISO-8859-1";

body {
	font-family: sans-serif;
	display:flex;
	flex-direction: column;
	text-align : center;
}


/*Page d'accueil */

button{
	width : 8rem;
	position : relative;
	left : 46%;

}

button a {
	color : black !important;
	text-decoration : none !important;
	
}

button a:hover {
	color : white !important;
	
}


.menu {
	align-self:center;
	width:50%;
	height:120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding:10px;
	border:1px solid;
	border-color:#202020;
	background-color: #e0e0e0;
}

.menu {
	margin-bottom : 10rem;
}

.menu h1 {
	text-align: center;
}

.menu ul {
	display: flex;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;
}

.menu li{
	width:20%;
	background-color:#303030;
	text-align: center;
	list-style: none;
	padding:10px;
	border:1px solid;
	border-color:#202020;
	margin : 0px;
}

.menu li:hover{
	background-color:#464646;
}

.menu a {
	text-decoration: none;
	color : white;
}

.view table, tr, td {
	border-collapse: collapse;
}

.view {
	position : relative;
	width : 40% !important;
	margin : auto !important;
	left : 10%;

}

.view select {
	width : 37%;
	margin-bottom : 2rem;
}

.view td {
	border: 1px solid;
	padding: 5px;
}

.view th {
	background-color:#c0c0c0;
	border:2px solid;
}

.view .pair {
	background-color:#f5f5f5;
}

.view .impair {
	background-color:#d9d9d9;
}


.erreur {
	color:red;
}

/*Page Liste Produits*/
.table {
	width : 50% !important;
	margin : auto !important;
	margin-bottom: 4rem !important;
}

/*Page detailsProduit*/

.card {
  width: 400px; 
  margin: 0px auto; 
  background-color: white; 
  box-shadow: 0px 5px 20px #999; 
}

.card:hover .card-image img { 
  width: 160%;
  filter: grayscale(0);
}

.card-image {
  height: 250px;/*1*/
  position: relative;/*2*/
  overflow: hidden;/*3*/
}
.card-image img {
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(1);
  transition-property: filter width; 
  transition-duration: .3s;
  transition-timing-function: ease;
}

.card-title, .card-excerpt {
   font-family: 'Playfair Display', serif;
}

.card-title {
  text-align:center;
  text-transform:uppercase;
  font-weight: bold;
}

.card-excerpt {
  color: #777;
}